body {
  background: #2980B9;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
}

.content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-content {
  width: 90%;
  margin: auto;
}

.content-title {
  text-align: center;
  font-size: 42pt;
  font-weight: 300;
  text-decoration: underline;
}

.content-text {
  text-align: center;
  font-size: 24pt;
  font-weight: 300;
  padding: 10px;
}

.content-text ul, li {
  font-size: 18pt;
  font-weight: 300;
}

.title {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  flex: 2;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.box {
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: 16pt;
  width: 100px;
}

.box2 {
  width: 100px;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: 18pt;
}

.new-part {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.code {
  background: #000;
  text-align: center;
  padding: 30px;
  font-family: 'Anonymous Pro', sans-serif;
  color: yellow;
  width: 500px;
  margin: auto;
  border: 2px solid #555;
  margin-bottom: 10px;
}

.example {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
}

.example1 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
}

.example2 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
}

.example3 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
}

.myexample {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.myexample2 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.myexample3 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.myexample4 {
  flex: 1;
  padding: 30px;
  font-size: 18pt;
  margin: auto;
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

a {
  color: #FFF;
}

.download {
  color: #000;
  width: 500px;
  height: 100px;
  font-size: 18pt;
}

.git {
  color: #000;
  width: 500px;
  height: 100px;
  font-size: 18pt;
}

.download a {
  color: #000;
}

.git a {
  color: #000;
}
